

.centrer{
    text-align:center;
}

h2{
    font-size:1em;
    margin-top:10px;
}

    body{
        margin:0 !important;
        padding:0 !important;
    }
    .none{
        display:none;
    }
 /*.......................................Header..............................................*/
    .header{
        display: flex;
        justify-content: center;
        background-color:#20c997;
    }
    .header > a {
        text-transform: uppercase;
        color:white;
        text-decoration: none;
    }


    /*....................................Page d'accueil.....................................*/
    #titreAccueil{
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: 'Ubuntu', sans-serif;
    }

    #inputAccueil{ /*   */
        background-color: #dad8d8;
        width: auto;
        margin-bottom: 40px;
        }
    #choixCommune {
        width: auto;
    }

    .map { /* Taille de la map */
        margin: 0 auto;
        height: 550px;
        width: 750px;
        margin-bottom: 15px;
        margin-top:15px;
       }
    #parentListeDeroulante{
        margin-bottom: 20px;
        display:flex;
        width: 250px;
        margin: 0 auto;
        justify-content: space-between;
        height: 40px;
    }
    #mySelect{
        background-color: #dcd9d9;
        width: 80%;
    }
    #ok{
        width: 15%;
        background-color: #26263c;
        color: white;
    }



    /*.................................Page enregistrer son ....................................*/
    #parentMicro{
        max-width: 150px;
        max-height: 150px;
        margin: 0 auto;
        background-color: #6464a9;
        text-align: center;
        border-radius: 50%;
        line-height: 150px;
        box-shadow: 2px 2px 3px #16232E;
    }

    .titre{
        margin-bottom: 35px !important;
    }
    #graph{
        width:60%;
        height:60%;
        margin:0 auto;
    }

    .nav{
        margin-bottom: 17px;
        margin-top: 10px;
        margin-right: 17px;
    }
    #sonContainer1{
        margin-top: 42px;
    }
    #microBouton{
        width: 44%;
    }
    
    /* #meter{
        background-color:red;
    } */

    /* .......................formulaire...........  */

    #formInscription{
        display: flex;
        flex-direction: column;
    }
    .input{
        margin-bottom:10px;
    }
    #parentInput{
        background-color: #39D1B4;
        display: flex;
        width: 250px;
        height: auto;
        padding: 20px;
        margin: 0 auto;
    }
    #boutonAjout{
        width: 150px;
    }
    
    #pInscrire{
        position: relative;
        left: 300px;
        margin-top: 5px;
        top: 9px;
    }

    /*....................Commune.......................*/

    #commune {
        text-align: center;
        width: 100%;
        margin-bottom: 5vh;
        margin-top: 14vh;
      }
      .buttonJourNuit {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin-top: 5vh;
      }
      #buttonJour {
        margin-right: 15vh;
        padding: 15px 20px 15px 20px;
        width: auto;
        background-color: #007bff;
        color: white;
        font-size: 1.5em;
        border: none;
      }
      #buttonNuit {
        padding: 15px 20px 15px 20px;
        width: auto;
        background-color: #007bff;
        font-size: 1.5em;
        color: white;
        border: none;
      }


      /*  .........................Footer...............................*/
      footer{
        width: 100%;
        background-color: black;
        position:relative;
        /* position: fixed;
        bottom:0; */
        display: flex;
        justify-content: space-around;
        height: 50px;
        line-height: 50px;
        color: #ababab;
        margin-top: 50px;
      }
main{
    height:300px;


    
}  
#login,
#login h1 {
   width: 100%;
   background-color: #ebeff2;
    padding: 23px;
    margin-top: 10vh;
    margin-bottom: 40px;
   }

#login p {
color: #666f73;
padding: 14px 0 0;
font-size: 0.8em;
font-weight: bold;
}

#login form {
margin: auto;
width: 100%;
border-radius: 5px;
background: #ebeff2;

}

.user-element input,
.pass-element input{
width: 100%;
margin-bottom:10px;

} 
.marker{
    text-align:center ;
    color:white !important;
    line-height:50px !important;
    width: 50px !important;
    height:50px !important;
} 

@media screen and (max-width: 768px){

    .map { /* Taille de la map */
        margin: 0 auto;
        height: 250px;
        width: 250px;
        margin-bottom: 15px;
        margin-top:15px;
       }

       .marker{
        width:20px !important;
        height:20px !important;
        text-align:center;
        color:white;
        line-height:20px;
       }


       /*  ..............Page son.................*/
       
       #parentMicro{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        background-color: #6464a9;
        text-align: center;
        border-radius: 50%;
        line-height: 150px;
        box-shadow: 2px 2px 3px #16232E;
    }


       #microBouton{
        width: 60%;
    }
}