

.centrer{
    text-align:center;
}


@media screen and (max-width: 768px){

 /*.......................................Header..............................................*/
    .header{
        display: flex;
        justify-content: flex-end;
    }

    /*....................................Page d'accueil.....................................*/
    #titreAccueil{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    #inputAccueil{ /*   */
        background-color: #dad8d8;
        width: 250px;
        margin-bottom: 40px;
        }
    
    .map { /* Taille de la map */
        margin: 0 auto;
        height: 250px;
        width: 250px;
        margin-bottom: 15px;
       }

    /*.................................Page enregistrer son ....................................*/
    #parentMicro{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        background-color: #6464a9;
        text-align: center;
        border-radius: 50%;
        line-height: 150px;
        box-shadow: 2px 2px 3px #16232E;
    }   
    #microBouton{
        width: 60%;
    }
    .titre{
        margin-bottom: 35px;
    }
    #graph{
        width:60%;
        height:60%;
        margin:0 auto;
    }

    .nav{
        margin-bottom: 17px;
        margin-top: 10px;
        margin-right: 17px;
    }

       
}